.social-icons {
    display: flex;
    justify-content: center;

    &__icon {
        background-color: $mainBrown;
        display: inline-block;
        height: 90px;
        width: 90px;
        display: grid;
        place-items: center;
        margin: 1rem;
        border-radius: 1rem;
    }

    img {
        width: 42px;
        height: 42px;
    }
}